.bg-purple {
  color: white !important;
  background: linear-gradient(135deg, #37315e, rgb(64, 29, 186)) !important;
}

.bg-pink {
  border-color: #da4167 !important;
  background: linear-gradient(227deg, rgba(220, 92, 124, 1) 0%, rgba(218, 65, 103, 1) 100%) !important;
  color: white !important;
}


.profile:hover {
  cursor: pointer;
  color: #fff;
}

.profile {
  color: #a798dd
}

.navbar-toggler:focus {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

.navbar-toggler {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}


.breadcrumb {
  background-color: unset !important;
}

.card-text {
  font-weight: 600;
}

.card-link {
  text-decoration: underline;
  color: #fff !important;
}



.link-footer {

  color: #fff !important;
}

.product-state {
  color: #1a8556;
  font-weight: 500;
  font-size: 18px;
}


.link-footer:hover .link-icon {

  text-decoration: none !important;
}

.link-footer:hover .card-lin {

  text-decoration: underline !important;
}

.link-footer:hover {

  color: #fff !important;
}

.slidebar-nav {
  left: 250px;
  list-style: none;
  height: 100%;
  margin: 0;
  margin-left: -250px;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  top: 50px;
  width: 0;
  z-index: 1000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.log-info {
  position: absolute;

  left: 10px;
  bottom: 70px;
}

#wrapper.toggled .slidebar-nav {
  width: 250px;
}

.slidebar-nav .navbar-collapse {
  padding: 0;
  max-height: none;
}

.slidebar-nav ul {
  float: none;
  width: 100%;
}

.slidebar-nav ul:not {
  display: block;
}

.slidebar-nav li {
  float: none;
  display: block;
}

.slidebar-nav li a {
  padding-top: 12px;
  padding-bottom: 12px;
}

.nav-menu {
  left: -100px !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.slidebar-nav .open .dropdown-menu {
  position: static;
  float: none;
  width: auto;
  margin: 0;
  padding: 5px 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.slidebar-nav a {
  text-decoration: none !important;
  color: #8e8e8e !important;
  transition: all 0.5s;

}

.slidebar-nav li:hover {
  background-color: #6d58bc;

}

.slidebar-nav a.active {

  color: #fff !important;


}

.slidebar-nav a:hover {

  color: #fff !important;
}

.slidebar-nav .navbar-brand {
  width: 100%;
}

.slidebar-nav .open>a>b.caret {
  border-top: none;
  border-bottom: 4px solid;
}

.slidebar-nav .navbar-nav {
  margin: 0;

}

.slidebar-nav {
  overflow: hidden;
  white-space: nowrap
}

.slidebar-nav .navbar {
  padding-left: 0 !important;
  padding-right: 0 !important;

}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#page-wrapper6 {
  width: 100%;
  position: absolute;
  padding: 15px;
  top: 50px;
}

#wrapper.toggled #page-wrapper6 {
  position: absolute;
  margin-right: -250px;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #page-wrapper6 {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-wrapper6 {
    position: relative;
    margin-right: 0;
  }

  .slidebar-nav {
    width: 250px;
    ;
  }

  #wrapper.toggled .slidebar-nav {
    width: 0;
  }
}